<a href="https://colab.research.google.com/github/Natalia409634/Grupo7-practica1-ML/blob/main/Copy_of_parte1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Predicción de la producción de energía solar**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd   
# Instalar statsmodels para intervalos de confianza 
!pip install statsmodels

In [2]:
import numpy as np
import matplotlib.pyplot as plt

# Lectura de datos

PREGUNTAR COMO IMPORTAR LOS DATOS PARA QUE TODOS LO PUEDAN VER***

In [3]:
disp_df = pd.read_csv("/content/drive/MyDrive/Aprendizaje Automático/datos practica/disp_st7ns1.txt.bz2",
compression="bz2",
index_col=0)

comp_df = pd.read_csv("/content/drive/MyDrive/Aprendizaje Automático/datos practica/comp_st7ns1.txt.bz2",
compression="bz2",
index_col=0)

# Análisis Exploratorio de datos

In [ ]:
disp_df.head()

,apcp_sf1_1,apcp_sf2_1,apcp_sf3_1,apcp_sf4_1,apcp_sf5_1,dlwrf_s1_1,dlwrf_s2_1,dlwrf_s3_1,dlwrf_s4_1,dlwrf_s5_1,...,ulwrf_t2_1,ulwrf_t3_1,ulwrf_t4_1,ulwrf_t5_1,uswrf_s1_1,uswrf_s2_1,uswrf_s3_1,uswrf_s4_1,uswrf_s5_1,salida
V1,0.000000,0.0,0.0,0.000000,0.000000,250.765400,244.423459,250.810849,269.559490,268.286532,...,247.777202,250.487543,264.160586,260.795116,0,8.000000,49.636364,113.818182,79.181818,11487900
V2,0.000000,0.0,0.0,0.009091,0.010909,267.362233,250.278670,274.982095,293.350833,281.656355,...,238.549172,233.845458,251.197511,252.962007,0,7.090909,33.000000,93.454545,66.272727,9235200
V3,0.000000,0.0,0.0,0.000000,0.000000,222.643638,217.905113,224.133093,251.074578,253.476495,...,233.556009,239.208023,257.450057,253.893104,0,8.000000,51.000000,116.090909,80.727273,11895900
V4,0.000909,0.0,0.0,0.000000,0.000000,269.499409,224.078362,225.675403,237.365465,238.349503,...,244.280412,246.125845,256.927582,252.958314,0,8.000000,51.272727,119.000000,83.636364,12186600
V5,0.000000,0.0,0.0,0.000000,0.000000,241.344566,244.017960,252.214458,295.031791,304.845553,...,237.979387,243.498259,243.310007,222.655228,0,7.909091,49.454545,106.363636,68.545455,6411300

In [ ]:
comp_df.head()

,apcp_sf1_1,apcp_sf2_1,apcp_sf3_1,apcp_sf4_1,apcp_sf5_1,dlwrf_s1_1,dlwrf_s2_1,dlwrf_s3_1,dlwrf_s4_1,dlwrf_s5_1,...,ulwrf_t1_1,ulwrf_t2_1,ulwrf_t3_1,ulwrf_t4_1,ulwrf_t5_1,uswrf_s1_1,uswrf_s2_1,uswrf_s3_1,uswrf_s4_1,uswrf_s5_1
V4381,0.0,0.0,0.0,0.0,0.0,270.041357,266.721902,271.436185,289.260481,290.198866,...,249.005188,246.327445,254.430893,271.488123,263.904726,0,8.000000,49.000000,111.818182,76.272727
V4382,0.0,0.0,0.0,0.0,0.0,268.203194,251.082065,252.520158,265.459176,266.033655,...,248.806734,246.361692,252.809210,261.484716,252.373657,0,8.000000,51.000000,115.545455,78.909091
V4383,0.0,0.0,0.0,0.0,0.0,259.093084,253.669977,262.735166,298.541923,293.522200,...,221.154437,238.409930,234.933735,210.958496,228.914555,0,7.818182,45.272727,94.090909,66.727273
V4384,0.0,0.0,0.0,0.0,0.0,285.385701,290.056355,289.864347,289.696259,287.767661,...,230.637607,236.175475,244.932745,292.169112,287.461126,0,5.545455,46.545455,116.727273,81.727273
V4385,0.0,0.0,0.0,0.0,0.0,276.592293,266.611287,268.892875,283.150868,282.253951,...,256.840331,242.059387,252.194519,276.955666,275.521393,0,7.727273,49.636364,115.272727,80.454545

Dibujamos el conjunto de datos

In [ ]:
import matplotlib.pyplot as plt
"plt.scatter()"
"plt.xlabel('')"
"plt.ylabel('')"
"plt.show()"

'plt.show()'

# Dividir los datos en train (los 10 primeros años) y test (los dos últimos)

In [ ]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()

# Métodos básicos

*   KNN
*   Árboles de regresión
*   Regresión lineal